p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.home {
    display: block;
    /* position: relative; */
    font-family: 'Jua', sans-serif;

    width: 100%;
    display: block;
    /* background-color: blue; */
}
  
.homeCover {
    display: block;
    position: relative;
    z-index: 1;
    
    margin-top: 100px;
    margin-left: 77px;
    margin-right: 77px;
    
    height: 414px;
    
    background-color: white;

    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.homeCover img {
    position: absolute;
    z-index: 0;

    right: -50px;
    top: 0px

}

.cover-info {
    z-index: 1;

    margin-top: 54px;
    margin-left: 75px;
    width: 50%;
}

.cover-info h1 {
    font-size: xxx-large;
}

.cover-info p {
    margin-top: 30px;
    font-size: large;
}

.cover-info .primaryButton {
    background-color: #D06325;
    margin-top: 50px;
    width: 350px;
    height: 50px;
    color: white;
    font-size: large;

    border: none;
    border-radius: 7px;

    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}
.cover-info button svg {
    display: inline-block;
    margin-right: 20px;
}

.cover-background {
    display: block;
    position: absolute;
    z-index: 0;
    top: 407px;

    width: 100%;
    height: 252px;
    

    background-color: #FFD7CB;
}

/* Product */

.product-section {
    display: block;
    width: 100%;
    margin-top: 67px; 

    background-color: #FFD7CB;
}

.product-title-container {
    display: flex;
    background-color: white;

    font-size: xxx-large;
    font-weight: 600;

    width: 100%;
    height: 82px;

    margin: auto;
    
    text-align: center;

    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 41px;
}

.product-title-container h1 {
    margin-top: 30px;
    margin: auto;
}

.product-display-container {
    display: grid;
    grid-template-columns: auto auto auto auto;

    margin: auto;
    margin-top: 86px;
    margin-bottom: 80px;

    width: 90%;
    height: 900px;

    padding-left: 50px;
    padding-right: 50px;

    justify-content: space-between;
}

.product-cell {
    width: 281px;
    height: 309px;
    /* background-color: #D9D9D9; */
    border-radius: 10px;

    transition: all .2s ease-in-out;
}

.product-cell:hover {
    transform: scale(1.2);
}

.product-cell .productImage {
    width: 281px;
    height: 256px;
    margin: auto;
    
    border: 2px solid #D06325;
    border-radius: 11.8983px;
}

.product-info {
    width: 281px;
    height: 106px;
    background: #FFFFFF;
    border: 2px solid #D06325;
    border-radius: 11.8983px;
    
    margin-top: 15px;
    padding: 14px;

}
.product-info #product-name {
    text-align: left;
    font-weight: 500;
    font-size: 15px;
}

.product-info #product-price {
    text-align: left;
    font-weight: 600;
    color: #D06325;

    font-size: 25px;
}



/* Footer */
.footer {
    /* position: relative; */
    background-color: #FFD7CB;
    height: 150px;
    font-family: 'Inter', sans-serif;
    width: 100%;

    padding: 30px;
    padding-left: 64px;
    padding-right: 64px;

    display: flex;
    justify-content: space-between;

    filter: drop-shadow(0px -10px 10px rgba(0, 0, 0, 0.3));
}

.sideName {
    display: inline-block;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    text-align: left;

    font-weight: 700;
    color: #D06325;

  }

.category-wrapper {
    display: inline-block;

    font-family: 'Jua', sans-serif;

    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;

    font-size: x-large;
    }

.category-wrapper .category-separator {
    margin-left: 15px;
    margin-right: 15px;
    color: #D06325;
}
.category-wrapper a {
    color: black;
}


.creditCard-container {
    /* margin-top: 15px; */
}

.creditCard-container img {
    display: inline-block;
    margin-right: 20px;

}

.rightSide {
    align-self: center;
}

.rightSide p {
    align-self: center;
    font-weight: 400;
    font-size: large;

    margin-bottom: 10px;
}

.registernbtn {
    color: #D06325;
    font-size: large;

    width: 140px;
    height: 43px;

    
    background: #FFFFFF;
    border: 1px solid #D06325;
    border-radius: 10px;

    margin-right: 20px;

} 

.loginbtn {
    font-size: large;
    color: white;

    width: 140px;
    height: 43px;

    background: #D06325;
    border-radius: 10px;
}


@media (min-width: 1024px) {
    .home {
        min-height: 100vh;
        /* display: flex; */
        align-items: center;
    }
}
